.form-group .form-label {
	display: block;
  }
  
  .form-label {
    text-align: left !important;
    margin-top: 0.5rem;
  }
  
  .form-control{
    width: 100%;
    height: 30px;
    display:flex;
  }

  //   .displayForm2 {
// 	@include button($main-colour);
// 	display:flex;
//   }