.card {
  width: 40vw;
  background-color: #d1cece;
  margin-bottom: 20px;
  border: 2px solid black;
  padding: 20px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: space-between;
  .fas .fa-bookmark{
    display: flex;
    margin-bottom: 10px;
    float: right;
    color: green;
  }
  .fas .fa-trash-alt{
    display: flex;
    margin-bottom: 10px;
    float: right;
    color: red;
  }
  .card-title {
    display: flex;
  }
  .card-id {
    display: flex;
  }
  .card-author {
    display: flex;
  }
  .card-description {
    display: flex;
  }
  .card-img {
    display: block;
    margin: auto;
    height: 40vh;
  }
}
